.tech{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  border-radius: 999px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  padding: 7px 16px;
  color: rgba(240, 248, 255, 0.9);

}
.WorldTyOuter{
  display: flex;
  gap: 8px;
  position: absolute;
  right: 33%;
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  width: 35%;
  flex-wrap: wrap;
  justify-content: center;
  top: 75%;
}
@media (max-width:678px){
  .tech{
    font-size: 0.5rem;
    padding: 3px 7px;
  }
  .WorldTyOuter{
    width: 100%;
    right: 1.5%;
    top: 66.5%;
  }
}