*{
  margin: 0px;
  overflow-x: hidden;
}
.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;    
  /* background-color: #020617; */
  inset: 0;
}
.home {
  /* position: relative; */
  /* height: 100vh;              MUST */
  /* background: #020617;        dark background */
  /* overflow: hidden; */
}
.HomeCont{
  width: 100vw;
  height: 100vh;
  /* position: absolute; */
  position: relative;
  background-color: transparent;
  z-index: 1;
  overflow-y: hidden;
}