*{
  margin: 0px;
}
html, body {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;    
  inset: 0;
}
.home {
  min-height: 200vh;
  
}
.HomeCont{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: transparent;
  z-index: 1;
  overflow-y: hidden;
  scroll-snap-align: start;
}