.ImageCont260{
  width: 100%;
  height: max-content;
  /* position: absolute; */
  flex-shrink: 0;
  flex-wrap: nowrap;
  cursor: pointer;
}
.ImageCont260 img{
  height: auto;
  width: 100%;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); */
  
}