.HeroImgAbout{
  width: 50%;
  position: absolute;
  top: 3%;
  left: 0%;
  overflow-y: hidden;
}
.HeroImgAbout img{
  width:80%;
}
@media (max-width:678px){
  .HeroImgAbout{
    width: 100%;
    bottom: 0%;
    top: auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* border: 5px solid wheat; */
    display: none;
  }
  .HeroImgAbout img{
    width:100%;
    display: none;
  }
}