.AbTexOuter{
  width: 55%;
  color: aliceblue;
  position: absolute;
  right: 0.5%;
  top: 3%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.ImgPhaseCont{
  height: 8rem;
  max-width: 13%;
  border: 2px solid white;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border-radius: 12px;
}
.ImgPhaseCont img{
  width: 100%;
  height: auto;
}
.AbTexOuter h1{
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  border-left: 5px solid #fca311;
  padding-left: 15px;
}
.AbPhases{
  display: flex;
  gap: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.4);
  padding: 1.2rem;
  width: 90%;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
}
.phaseTextCont h2 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fca311;
}
.phaseTextCont p {
  font-size: 0.85rem;
  line-height: 1.6;
  color: rgba(240, 248, 255, 0.9);
  text-align: justify;
}
.phaseTextCont{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.GetToKnowMe{
  position: absolute;
  bottom: 3%;
  right: 3%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  padding: 6px 30px;
  display: flex;
  color: aliceblue;
  overflow: hidden;
}
.GetToKnowMe:hover{
  cursor: pointer;
}
.DotScalable{
  height: 5px;
  width: 5px;
  background-color:#fca311;
  border-radius: 999px;
  position: absolute;
  left: 10px;
  top: 50%;
}
.GetToKnowMe h2{
  font-size: 1.2rem;
  z-index: 2;
}
@media (max-width: 678px){
  .AbTexOuter{
    width: 95%;
  }
  .AbPhases{
    padding: 0.5rem;

  }
  .AbTexOuter h1{
    font-size: 1.3rem;
  }
  .ImgPhaseCont{
    display: none;
  }
  .phaseTextCont h2{
    font-size: 1.1rem;
    font-style: italic;
  }
  .phaseTextCont p{
    font-size: 0.75rem;
  }
  .GetToKnowMe{
    bottom: 10%;
    right: 4%;
  }
}