.LocalImgContOuter{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.06); 
  backdrop-filter: blur(12px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  z-index: 6;
  overflow-y: hidden;
}
/* .LapRunImgCont{
  position: absolute;
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );

  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
} */
.LapRunImgCont{
  width: 40%;
  position: absolute;
  left: 15%;
  height:85%;
  top: 5%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );

  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
}
.MobRunImgCont{
  width: 20%;
  position: absolute;
  right: 15%;
  height: 85%;
  top: 5%;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );

  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
}