.PravConnectImageCont{
  position: absolute;
  display: flex;
  width: 98vw;
  /* height: auto; */
  top: 7%;
  justify-content: space-between;
  left: 1%;
  align-items: center;
  z-index: 5;
}
.PravConnectImageCont .Laptop{
  width: 52%;
  height: auto;
}
.PravConnectImageCont .Mobile{
  width: 24%;
  height: auto;
}
@media (max-width: 678px){
  .PravConnectImageCont{
    display: none;
  }
}