.OtherProjectsMainCont{
  height: 100vh;
  width: 100vw;
  /* overflow-x: hidden; */
}
.MyOtherprojectTxt{
  position: absolute;
  font-size: 2.6rem;
  font-weight: 600;
  top: 2%;
  letter-spacing: 0.5px;

  border-left: 5px solid #fca311;
  padding-left: 14px;
  right: 39%;
  color: aliceblue;
}
.HorizontalIrrev{
  position: absolute;
  width: 98%;
  height: 40%;

  transform: rotate(-5deg);
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );

  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
  overflow-x: hidden;

  top: 20%;
}
.HorizontalRev{
  position: absolute;
  width: 98%;
  height: 15%;

  transform: rotate(-5deg);
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );

  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
  overflow-x: hidden;

  top: 63%;
}