.ImageContainer2{
  position: absolute;
  width: 95vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );

  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
}
.ImageCont25 img{
  height: 100%;
  width: auto;
  margin-right: 20px;

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
  
}
.ImageCont25{
  width: max-content;
  height: 50%;
  /* position: absolute; */
  flex-shrink: 0;
  flex-wrap: nowrap;
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0),
  );
}
.parImgRun{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.06); 
  backdrop-filter: blur(12px);

  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  z-index: 5;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}